<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-black shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img id="MDB-logo"
                 src="/Images/Logo.png"
                 alt="None Inclusive Logo"
                 draggable="false" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="Booking"><i class="fas fa-plus-circle pe-2"></i>Værelser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="my-bookings"><i class="fas fa-bell pe-2"></i>Mine Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="Tickets"><i class="fas fa-heart pe-2"></i>Tickets</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-outline-light btn-rounded" href="#!">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->