@page "/Login"
@inject HttpClient Http;
@inject Service.DatabaseServices DatabaseServices


<PageTitle>Login</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    @*Felter til at indtaste brugernavn og adgangskode*@
                    <form>
                        <div class="form-group">
                            <label for="Email" class="label">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter email" @bind="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter Password" @bind="Password" required>
                        </div>
                        <button type="submit" class="btn btn-dark" @onclick="LoginUser" @onclick:preventDefault>Log ind</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p>@message</p>

@code {
    private string Email { get; set; }
    private string Password { get; set; }
    string message = "";

    private async Task LoginUser()
    {
        await DatabaseServices.GetUserToLoginAsync(Email, Password);
        message = $"LOGGET IND";
    }

    
}
