@page "/SignUp"
@using API.Models
@inject HttpClient Http
@inject Service.DatabaseServices DatabaseServices
@inject NavigationManager NavigationManager

<PageTitle>SignUp</PageTitle>

<div class="body">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <!-- Container til centrering af indhold -->
        <div class="container">
            <!-- Række til centreret indholds kolonne -->
            <div class="row d-flex justify-content-center align-items-center">
                <!-- Kolonne til formular, justerer størrelse baseret på skærmstørrelse -->
                <div class="col-12 col-md-9 col-lg-7 col-xl-4">
                    <!-- Kort til registreringsformular, afrundede hjørner for estetik -->
                    <div class="card" style="border-radius: 15px; background-color: #b3b3b3;">
                        <!-- Kortkrop med padding til formular -->
                        <div class="card-body p-3">
                            <!-- Overskrift til formular -->
                            <h2 class="text-center mb-1">Register</h2>
                            <form>
                                <!-- Felt til fornavn -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formFirstName">First Name</label>
                                    <input type="text" id="formFirstName" class="form-control form-control-sm" @bind="newUser.FirstName" required />
                                </div>

                                <!-- Felt til efternavn -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formLastName">Last Name</label>
                                    <input type="text" id="formLastName" class="form-control form-control-sm" @bind="newUser.LastName" required />
                                </div>

                                <!-- Felt til e-mail -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formEmail">Email</label>
                                    <input type="email" id="formEmail" class="form-control form-control-sm" @bind="newUser.Email" required />
                                </div>

                                <!-- Felt til adgangskode -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formPassword">Password</label>
                                    <input type="password" id="formPassword" class="form-control form-control-sm" @bind="newUser.Password" required />
                                </div>

                                <!-- Felt til gentagelse af adgangskode -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formPasswordRepeat">Confirm Password</label>
                                    <input type="password" id="formPasswordRepeat" class="form-control form-control-sm" @bind="newUser.PasswordRepeat" required />
                                </div>

                                <!-- Felt til telefonnummer -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formPhonenumber">Phone Number</label>
                                    <input type="tel" id="formPhonenumber" class="form-control form-control-sm" @bind="newUser.PhoneNumber" required />
                                </div>

                                <!-- Felt til adresse -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formAddress">Address</label>
                                    <input type="text" id="formAddress" class="form-control form-control-sm" @bind="newUser.Address" required />
                                </div>

                                <!-- Felt til by -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formCity">City</label>
                                    <input type="text" id="formCity" class="form-control form-control-sm" @bind="newUser.City" required />
                                </div>

                                <!-- Felt til land -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formCountry">Country</label>
                                    <input type="text" id="formCountry" class="form-control form-control-sm" @bind="newUser.Country" required />
                                </div>

                                <!-- Felt til postnummer -->
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="formZip">Zip Code</label>
                                    <input type="text" id="formZip" class="form-control form-control-sm" @bind="newUser.Zip" required />
                                </div>

                                <!-- Afkrydsningsfelt for accept af vilkår -->
                                <div class="form-check d-flex justify-content-center mb-4">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="formAgreeCheckbox" required />
                                    <label class="form-check-label" for="formAgreeCheckbox">
                                        I agree to the <a href="#!" class="text-body"><u>Terms of service</u></a>
                                    </label>
                                </div>
                                <!-- Registrer knap -->
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-dark btn-sm" @onclick="RegisterUser">Register</button>
                                </div>
                                <!-- Link til eksisterende brugere for at logge ind -->
                                <p class="text-center text-muted mt-4 mb-0">Already have an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string? FirstName { get; set; }
    private string? LastName { get; set; }
    private string? Email { get; set; }
    private string? Password { get; set; }
    private string? PasswordRepeat { get; set; }
    private string? Phonenumber { get; set; }
    private string? Address { get; set; }
    private string? City { get; set; }
    private string? Country { get; set; }
    private string? Zip { get; set; }

    private UserPostAndPutDTO newUser = new UserPostAndPutDTO();


    private async Task RegisterUser()
    {
        // Validering af adgangskode
        if (Password != PasswordRepeat)
        {
            // Handle password mismatch, f.eks. vis valideringsbesked
            return;
        }
        newUser.Role = "Guest";
        // Gem brugeroplysninger i databasen
        await DatabaseServices.AddUserToDatabaseAsync(newUser);

        // Naviger til login-siden efter vellykket registrering
        NavigationManager.NavigateTo("/login");
    }
}
