.login-container {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-top: 50px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}