.input-field {
    margin: 10px 0;
    padding: 10px;
}

.input-field input {
    font-size: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.input-field input:focus {
    outline: none;
    border: 1px solid #007bff;
}